<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
    <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="-age">Newest</option>
    </select>
	Name:<input type="text" ng-model="itemName"> </br>
	Snip:<input type="text" ng-model="itemSnip">
	<button ng-click="add()">Add</button>
    </div>
    <div class="span10">
      <!--Body content-->
      <ul class="phones">
        <div>
		  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
            <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
            <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
		    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"><button href="#" ng-click="remove(phone)" class="button_delete2"><i class="icon-minus-sign red"></i></button>
            <p>{{phone.snippet}}</p>
		  </li>
		</div>
      </ul>
    </div>
  </div>
</div>